<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wat.mapper.IdcardCustomerMapper">
       <select id="findIdCardPeople"  parameterType="java.lang.String"   resultType="com.wat.bean.IdcardCustom">
                select  Idcard.id,Idcard.idcardcode,Idcard.pic,people.name,people.sex,people.age 
                from   idcard,people
                where    idcard.id=people.idcardid  and   people.name=#{name}
       </select>
</mapper>
<!-- 
      idcard.id=people.id  :主键关联
      idcard.id=people.idcardid：外键关联
 -->